.experience-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-shadow: 0px 2px 10px lightgray;
    border-radius: 10px;
}
.add-skill-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 20px;
    height: 175px;
    position: relative;
}

.hiddenSection{
    display: none;
}
.job-section{
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    height: 200px;
}
.job-section label{
    width: 150px;
}
.company-name{
    display: flex;
}
.job-name{
    display: flex;
}
.job-period{
    display: flex;
    align-items: center;
}
.job-period label{
    width: 100px;
    margin-left: 25px;
}
.job-period input{
    width: 100px;
}



.skill-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
}
#skill-add-btn{
    align-self: center;
    
}


.experience-save-btn{
    width: 200px;
    height: 30px;
    align-self: center;
    margin: 20px 0px;
    border-radius: 10px;
}
.experience-body button:hover{
    background-color: lightgray;
    border: 1px solid gray;
}
#save-job-btn,
#save-skill-btn{
    height: 30px;
    width: 80px;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    left: calc(50% - 40px)
}
